* {
    margin: 0;
}

body{
    font-family: 'oxygen';
}

h2{
    font-family: 'philosopher';
}

/* navbar css*/
nav {
    display: flex;
    background: linear-gradient(to right, rgb(79, 250, 79), rgb(19, 118, 19));
    height: 70px;
    width: 98vw;
    align-items: center;
    position: fixed;
    z-index: 3;
    max-width: 98.9vw;
    justify-content: space-between;

}

#logo {
    height: 120px;
    object-fit: contain;
    padding-top: 10px;
}


.items{
    display: flex;
    align-items: center;
    padding: 20px;
}
#navUl {
    display: flex;
    list-style: none;
}

#navUl #navLi {
    padding-right: 20px;
    padding-top: 15px;
}

#dropdown{
    margin-top: -6px;
}


#dropdownMenuLink {
    background-color: #1aa801; 
  }
  
  .dropdown-menu .dropdown-item {
    color: #000000; 
  }
  
  
#navUl #navLi a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: 1000ms;
}

#navUl #navLi a:hover {
    color: rgb(179, 0, 75);
    border-bottom: 2px solid red;
}


/* login button */
#mainBtn {
    height: 30px;
    width: 60px;
    border-radius: 50px;
    border: transparent;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    transition: 1000ms;
}

#mainBtn:hover {
    background-color: darkgray;
    color: white;
}

/* rest of navbar body */
.content {
    height: 100vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    max-width: 98.9vw;
}

.content #img1 {
    position: absolute;
    height: 95vh;
    width: 98vw;
    top: 8%;
}

.content #shortLogo {
    height: 80px;
    width: 80px;
    z-index: 2;
}

#shortLogo #bulb {
    height: 150px;
    width: 120px;
    position: absolute;
    top: 12%;
}

.LogoText {
    position: absolute;
    z-index: 1;
    color: #007B5C;
    font-size: 120px;
    top: 25%;
    font-family: 'Samarkan', sans-serif;
}

.introHead {
    height: 120px;
    width: 98vw;
    margin: 0 auto;
    color: #000;
    font-size: 3.1rem;
    line-height: 9.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 20px;
}

.introHead span {
    background-clip: text;
    background-image: linear-gradient(to right, #0c9349, #02446d);
    color: transparent;
    font-family: 'philosopher';
}

.briefIntro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 50px;
}

.briefIntro span {
    font-weight: bolder;
    font-style: italic;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
}

/* .carousel{
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.13);
    height: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
} */
h1 {
    margin-top: 20px;
    font-size: 40px;
    padding-left: 20px;
    max-width: 97vw;    
    font-family: 'philosopher';
}

/* Who are we information */
#whoAreWe{
    margin-top: 50px;
}
.information {
    display: flex;
    padding: 10px;
}

.information .left {
    width: 50vw;
    display: flex;
    font-size: 24px;
    line-height: 200%;
}

.information .right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.information .right #img2 {
    object-fit: contain;
    width: 50vw;
    height: 400px;
}


.stats {
    max-width: 98vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.stats #stats {
    width: 95vw;
}

#serviceAndSol {
    text-align: center;
    margin-top: 200px;
    font-weight: bold;    
    font-family: 'philosopher';
}

.services {
    width: 95vw;
    height: 550px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    display: grid;
    max-width: 95vw;
    margin-top: 20px;
    padding-left:50px ;
}

.sols {
    display: grid;
    place-items: center;
    padding: 10px;
}

.sols ul{
    list-style-type:square;
}

.solHead{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.solImages{
    height: 50px;
    width: 50px;
    margin-top: 10px;
}

.solContent{
    font-size: 18px;
}

#one {
    border-bottom: 2px solid green;
    border-right: 2px solid green;
}

#two {
    border-left: 1px solid green;
    border-right: 2px solid green;
    border-bottom: 2px solid green;
}

#three {
    border-left: 1px solid green;
    border-bottom: 2px solid green;
}

#four {
    border-top: 1px solid green;
    border-right: 2px solid green;
}

#five {
    border-left: 1px solid green;
    border-right: 2px solid green;
    border-top: 1px solid green;
}

#six {
    border-top: 1px solid green;
    border-left: 1px solid green;
}


.footer {
    /* margin-top: 300px; */
    position: relative;
    bottom: -200px;
    height: fit-content;
    background: linear-gradient(to right, #0c9349, #02446d);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 98vw;
}

#Connect{
    margin-left: 25px;
}
.socialMedia{
    display: flex;
}

.socioIcons{
    margin: 0 20px;
}

#blogs{
    list-style: none;
}

#logoWhite{
    height: 300px;
    width: 400px;
}

#sendBtn{
    height: 30px;
    width: 60px;
    border-radius: 50px;
    border: transparent;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    transition: 1000ms; 
    margin-left: 80%;
}

#sendBtn:hover{
    background-color: rgb(120, 120, 120);
    color: white;
}